*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

body {
    height: 100%;
    font-family: Inter;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {

}

.header{
    background-color: #c9c6c6;
    color: #000000;
    background: url("../assets/потолок для сайта.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.ceilings-title{
    margin-top: 50px;
    color: black;
    font-size: 45px;

}
.ceilings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.list-item{
    margin: 0px 100px;
    font-size: 36px;
    font-weight: 500;
}

.line{
    width: 1100px;
    height: 5px;
    margin: 2px;
    background-color: #ffffff;
}

.order{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vh;
    font-size: 24px;
    width: 320px;
    height: 80px;
    background-color: rgb(25, 98, 141);
    border-radius: 30px;
}




.Linen{
    width: 250px;
    height: 200px;
    margin: 50%;
    background-color: #ffffff;
}
.types{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.types-title{
    margin: 40px 0px 40px 0px;
    color: black;
    font-size: 40px;
}
.carousel-container{
    background-color: #EFE1D6;
    padding: 0px 200px;
}

.carousel__wrapper {
    padding: 50px 150px;
    background-color: #e2c2a9;
}



.satin{
    font-size: 20px;
    text-align: center;
}
.button1{
    border: none;
  outline: none;
  display: inline-block;
  font-size: 16px;
    padding: 12px 16px 12px 16px;
    border-radius: 20px;
    background-color: #79A6B9;
}
.matte{
    font-size: 20px;
    text-align: center;
}
.button2{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
      padding: 12px 16px 12px 16px;
      border-radius: 20px;
      background-color: #79A6B9;
}
.glossy{
    font-size: 20px;
    text-align: center;
}
.button3{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
      padding: 12px 16px 12px 16px;
      border-radius: 20px;
      background-color: #79A6B9;
}
.translucent{
    font-size: 20px;
    text-align: center;
}
.button4{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
      padding: 12px 16px 12px 16px;
      border-radius: 20px;
      background-color: #79A6B9;
}
.perforated{
    font-size: 20px;
    text-align: center;
}
.button5{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
      padding: 12px 16px 12px 16px;
      border-radius: 20px;
      background-color: #79A6B9;
}
.texture{
    font-size: 20px;
    text-align: center;
}
.button6{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
      padding: 12px 16px 12px 16px;
      border-radius: 20px;
      background-color: #79A6B9;
}
.photocopy{
    font-size: 20px;
    text-align: center;
}
.button7{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
      padding: 12px 16px 12px 16px;
      border-radius: 20px;
      background-color: #79A6B9;
}