.header {
    display: flex;
    height: 87px;
    align-items: center;
    background-color: #5a5a5a;
    color: #FFF;
}

.menu__list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu__list li {
    margin: 0px 27px 0px 0px;
}

.header__menu{
    flex: 1 1 auto;
}

.button{
    background-color: black;
    color: white;
    text-decoration: none;
    padding:14px 34px 14px 34px ;
    margin:0px 27px 0px 0px;
    border-radius: 12px 12px 12px 12px;
}   
.image {
    height: 80px;
    width: 80px;
}
.Card{
    width: 286px;
    height: 312px;
    background-color: #f0e6e6;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
}
.Text{
    margin-top: 50px;
    color: black;
    font-size: 20px;
}

.card__title {
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 12px 12px 12px 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.button-block{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.content__img{
    display: flex;
    justify-content: center;
}
.Card{
   margin-left: 50px;
   margin-top: 50px;
}
.content__img{
    background-color: rgb(224, 220, 215);
}
.content{
    background-color: rgb(173, 163, 163);
}
.information{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
.introductory__title{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.dumplings{
    font-size: 18px;
    border: 0;
}
.Button-block{
    display: flex;
    justify-content: left;
    margin-top: 30px;
}
.information__logo{
    width: 333px;
    height: 231px;
}

.introductory {
    width: 333px;
    height: 231px;
}